<div style="font-family: Arial, Helvetica, sans-serif;">
  <h1>Bus Reports</h1>
</div>
<p-table [value]="reports" dataKey="organisation">
<ng-template pTemplate="body" let-report let-expanded="expanded">
    <tr>
        <td colspan="2">{{report.organisation}} - {{report.date}}</td>
        <td colspan="1">
          <button type="button" pButton [pRowToggler]="report" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
  <tr>
      <td colspan="3">Current Bus Report does not exist</td>
  </tr>
</ng-template>
<ng-template pTemplate="rowexpansion" let-report>
    <tr>
        <td colspan="3">
            <div class="p-p-3">
                <p-table [value]="report.busData" dataKey="busId" [redetailsableColumns]="true">
                    <ng-template pTemplate="header" >
                        <tr>
                            <th pSortableColumn="busId">Bus ID <p-sortIcon field="busId"></p-sortIcon></th>
                            <th pSortableColumn="routeVariant">Route Variant <p-sortIcon field="routeVariant"></p-sortIcon></th>
                            <th pSortableColumn="deviationFromTimetable">Status <p-sortIcon field="deviationFromTimetable"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-details>
                        <tr>
                            <td>{{details.busId}}</td>
                            <td>
                              <div *ngIf ="details.routeVariant != 'UNKNOWN'; else elseBlock">
                                <span  style="font-weight: bold;">
                                  {{details.routeVariant | slice:0:3}}
                                </span>
                                <span>
                                  {{details.routeVariant | slice:3:details.routeVariant.length}}
                                </span>
                              </div>
                              <ng-template #elseBlock>{{details.routeVariant}}</ng-template>
                            </td>
                            <td>
                              <span  [ngClass]="renderStatusClass(details.deviationFromTimetable)">
                                 {{details.deviationFromTimetable<0 ? 'Late' : 
                                  details.deviationFromTimetable>0 && details.deviationFromTimetable < 300 ? 'On Time' :
                                  details.deviationFromTimetable > 300 ? 'Early' : 
                                  'Unknown' }}
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3">No data exist for {{product.organisation}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </td>
    </tr>
  <tr>
    <td>
      <span class="p-float-label"> 
        <textarea id="float-input" rows="5" cols="100" pInputTextarea></textarea>
        <label for="float-input">Enter notes here</label>
      </span>
      <span>
        <p-button label="Save Notes"></p-button>
      </span>
    </td>
  </tr>
</ng-template>
</p-table>
